<title>@@param-title</title>
<meta charset="utf-8">
<!--DEV <meta http-equiv="content-type" content="text/html; charset=utf-8" /> -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<!--DEV <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no"/>-->
<meta http-equiv="x-ua-compatible" content="ie=edge">

<!--DEV <link href="https://fonts.googleapis.com/css?family=Roboto&amp;subset=cyrillic,latin-ext" rel="stylesheet">-->
<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
<!--DEV <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic,latin-ext" rel="stylesheet"> -->
<link rel="stylesheet" href="css/style.css" />

<!--DEV <script> document.documentElement.className = document.documentElement.className.replace('no-js', 'js'); </script> -->
<!--DEV <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<!--DEV <script src="../../node_modules/babel-polyfill/dist/polyfill.min.js"></script> -->
<script src="js/app.js"></script>

<!--DEV This notifies the client that there are assets we'll need later from a specific URL so the browser can resolve the DNS as quickly as possible -->
<!--DEV <link rel="dns-prefetch" href="//example.com"> -->
<!--DEV Much like the DNS prefetch method, preconnect will resolve the DNS but it will also make the TCP handshake, and optional TLS negotiation -->
<!--DEV <link rel="preconnect" href="//example.com"> -->
<!--DEV We're requesting and downloading that asset and storing it in the cache -->
<!--DEV <link rel="prefetch" href="image.png"> -->
<!--DEV (High-priority prefetch) if the asset is required for the current page, or if it's needed as soon as possible, then it's probably best to use subresource, otherwise stick to prefetch. -->
<!--DEV <link rel="subresource" href="styles.css"> -->
<!--DEV Gives us the ability to preemptively load all of the assets of a certain document -->
<!--DEV <link rel="prerender" href="//example.com"> -->
<!--DEV No support currently -->
<!--DEV <link rel="preload" href="image.png"> -->